<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctor Login</title>
    <meta charset="UTF-8" />
</head>
<body>
<h2>Doctor Portal Login</h2>

<!-- Показываем ошибку при неудачной попытке -->
<div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
</div>

<form th:action="@{/login-doctor}" method="post">
    <label>Email: <input type="text" name="username"/></label><br/>
    <label>Password: <input type="password" name="password"/></label><br/>
    <button type="submit">Login</button>
</form>
</body>
</html>
